#!/usr/bin/make -f
# This file is part of OpenPanel - The Open Source Control Panel
# OpenPanel is free software: you can redistribute it and/or modify it 
# under the terms of the GNU General Public License as published by the Free 
# Software Foundation, using version 3 of the License.
#
# Please note that use of the OpenPanel trademark may be subject to additional 
# restrictions. For more information, please visit the Legal Information 
# section of the OpenPanel website on http://www.openpanel.com/

install:
	dh_testdir
	dh_testroot
	dh_installdirs
	install -m 755 action debian/openpanel-mod-domain/var/openpanel/modules/Domain.module/action
	cp module.xml *.html *.png debian/openpanel-mod-domain/var/openpanel/modules/Domain.module/
	cp tests/test.py debian/openpanel-mod-domain/var/openpanel/modules/Domain.module/tests
	install -m 755 verify debian/openpanel-mod-domain/var/openpanel/modules/Domain.module/verify

build:
	mkmodulexml < module.def > module.xml

binary-indep: build install

binary-arch: build install
	dh_installdocs 
	dh_installdeb 
	dh_compress 
	dh_fixperms
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch

.PHONY: build binary binary-arch binary-indep clean install
